* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    transition: all .2s ease-in-out;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 15px;
}

.main{
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 84%;
    background-image: url(image/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.container-search {
    width: 30%;
    height: 200px;
    background-color: #ccc;
    position: fixed;
    right: 10px;
    top: 55px;
    z-index: 9999;
    border-radius: 12px;
    box-shadow: 2px 2px 2px gray;
    transform: translateX(calc(100% + 20px));
}

.container-search::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 6px;
    position: absolute;
    transform: rotate(45deg);
    right: 8px;
    background-color: #ccc;
    z-index: -1;
    top: -10px;
}

.container-search .close{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 20px;
}

.container-search .close em{
    display: block;
    cursor: pointer;
}

.container-search .form em.right{
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    right: 200px;
    opacity: .2;
    transform: translateX(-100%) translateY(10px);
}

.container-search .form em{
    position: absolute;
    right: 30px;
    opacity: .5;
    transform: translateY(105%) translateX(-100%);
}

.container-search .close em:hover{
    color: red;
}

.container-search.active{
    transform: translateX(8px);
}

.container-search .form{
    padding: 80px 20px 0px 20px;
    width: 100%;
    border-radius: 6px;
}

.container-search .form input{
    padding: 15px 15px;
    border-radius: 10px;
    width: 100%;
}

.contain-item {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 0;
    background-color: white;
    display: flex;
    color: white;
}
.contain-item.test {
    overflow: hidden;
    transition: height linear .2s;
    height: 50px;
    box-shadow: 1px 1px 5px #ccc;
    z-index: 100;
}
.contain-item.test a{
    color: black;
    opacity: 1;
}

.contain-item a{
    padding: 1.2rem 1rem;
    height: 50px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: start;
    animation: rubberBand 2s linear infinite 4s;
}

.contain-item a:hover{
    background-color: #cccccc;
    color: black;
    opacity: 1;
}
.left{
    margin-right: 5px;
}

.contain-item a:last-child{
    position: absolute;
    right: 0;
    top: 0;
}

.contain-item a:nth-child(5){
    position: absolute;
    right: 0;
    top: 0;
}

.about{
    padding: 6.8% 6.8%;
    font-size: 20px;
    width: 100%;
    line-height: 1.7;
}


.about .center-item{
    display: block;
    text-align: center;
    line-height: 2.2;
}

.about .justify-item{
    text-align: justify;
}

.about .item + .item{
    margin: 10px;
}

.about-itemlast{
    display: flex;
}
.about-itemlast .last-item:first-child{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-itemlast .last-item{
    padding: 12px 24px;
    width: 50%;
}
.last-item-top{
    margin: 15px 0;
}

.opacity-off:hover{
    opacity: 1 !important;
    cursor: pointer;
}

.quan{
    display: inline-block;
    margin-right: 16px !important;
}

div.last-item > :not(img){
    opacity: .6;
}
.last-item p{
    margin: 20px 0;
    line-height: 1.7;
    text-align: justify;
}
.last-item p:hover{
    cursor: text;
}
.last-item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity linear .2s;
    opacity: .7;
}

.about-content{
    letter-spacing: 10px;
    width: 100%;
    margin: 15px 0;
    opacity: .6;
}
.text{
    padding: 16px 0;
    text-align: center;
    margin: 18px 0;
    letter-spacing: normal;
    font-weight: 550;
}

.about-content.percent{
    background-color: #f1f1f1;
    letter-spacing: normal;
}

.about-content div:first-child{
    width: var(--percent);
    animation: identifier .5s linear forwards 2s;
    background-color: black;
    height: 35px;
    color: white;
    text-align: center;
}
@keyframes identifier {
    from{
        opacity: 0;
        width: calc(0%);
    }
    to{
        opacity: 1;
        width: calc(var(--percent));
    }
}

.noname{
    width: 100%;
    opacity: .6;
    background-color: black;
    color: white;
    padding: 16px 0;
    display: flex;
}

.noname .noname-item{
    width: 25%;
    margin: 16px 0;
    text-align: center;
    line-height: 1.595;
    font-size: 22px;
}
.image{
    width: 100%;
    height: 400px;
}
.image .image-item{
    width: 100%;
    height: 100%;
    background-image: url(image/noname.png);
    background-size: 100% 100%;
}

.listimage.top{
    padding: 0 8px;
}
.listimage{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.about .opacity{
    opacity: .6;
    font-weight: 500;
    font-size: 20px;
}
.listimage-item{
    width: 24.99%;
    padding: 0 8px;
}

.listimage-item img{
    width: 100%;
}
.contain{
    width: 100%;
    margin: 16px 0;
    padding: 0 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.listimage-item:hover{
    opacity: .6;
}

.contain .loadmore{
    padding: 12px 24px;
    margin-top: 64px;
    border: none;
    font-size: 24px;
    line-height: 1.6;
}

.contain .loadmore:hover{
    background-color: #cccccc;
    cursor: pointer;
}

.image .contact{
    background-image: url(image/contact.png);
}

.about .feedback{
    width: 100%;
    margin: 16px 0;
    padding: 32px 0;
    display: flex;
}

.about .feedback .image{
    width: 35%;
    height: 20%;
    padding: 0.15px 16px;
}
.about .feedback .image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.about .feedback .form{
    margin: 16px 0;
    padding: 0.15px 16px;
    width: 100%;
    flex: 1;
    position: relative;
}

.form .info{
    line-height: 1;
    padding-bottom: 0;
}

.form .info .last-item-top .quan:hover{
    opacity: 1;
    cursor: pointer;
}

.info .info-item{
    opacity: .7;
    line-height: 1;
}
.info .info-item:first-child{
    line-height: 1.4;
}


.form .content{
    margin: 15px 0;
    opacity: .7;
}

div.form-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

div.form-top input{
    width: 48%;
    padding: 8px 8px;
    border: 1px solid #ccc;
    font-size: 18.5px;
}

#message{
    padding: 8px 8px;
    border: 1px solid #ccc;
    font-size: 18.5px;
    width: 100%;
    font-size: 18.5px;
}

.sendmessage{
    color: white;
    background-color: black;
    margin: 16px 0;
    padding: 8px 16px;
    position: absolute;
    border: none;
    right: 16px;
    line-height: 2;
    border-radius: 20px;
}

.sendmessage:hover{
    color: black;
    background-color: #ccc;
}

.footer{
    padding: 64px 0;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: .7;
    line-height: 2;
}

.footer:hover{
    opacity: 1;
}

.footer a{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    background-color: white;
    border-radius: 15px;
}

.footer a:hover{
    opacity: .7;
}

.icon{
    margin: 16px 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
}

.icon em{
    display: inline-block;
}
.icon em:hover{
    opacity: .7;
    cursor: pointer;
}

.footer p{
    padding-bottom: 15px;
    color: white;
}

.footer .link{
    background-color: black;
    color: white;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    font-size: 19px;
    line-height: 1;
}

a.mobile{
    display: none;
}

@media screen and (max-width: 600px){
    .container{
        height: 38%;
    }
    .contain-item{
        flex-direction: column;
    }
    .last-item.mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .last-item img{
        width: 100%;
        height: auto;
    }
    .last-item.destop{
        width: 0%;
        display: none;
    }
    .noname.mobile{
        flex-direction: column;
    }
    .noname.mobile .noname-item{
        width: 100%;
    }
    .listimage.mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listimage.mobile .listimage-item{
        width: 100%;
        padding: 0 0;
        margin: 0 0;
    }
    .loadmore.mobile{
        padding: 6px 12px;
        margin-top: 32px;
        border: none;
        font-size: 14px;
        line-height: 1.6;
    }
    .about .feedback.mobile{
        flex-direction: column;
    }
    .about .feedback.mobile .image{
        width: 100%;
        height: auto;
    }
    .about .feedback.mobile .form{
        font-size: 17px;
    }
    div.form-top.mobile{
        flex-direction: column;
    }
    div.form-top.mobile input{
        width: 100%;
    }
    .sendmessage{
        color: white;
        background-color: black;
        margin: 16px 0;
        padding: 8px 12px;
        position: absolute;
        border: none;
        right: 16px;
        line-height: 1.5;
        font-size: 12px;
    }
    .footer.mobile{
        font-size: 12px;
    }
    .footer.mobile a{
        padding: 4px 10px;
    }
    .contain-item a:not(:first-child){
        display: none;
    }
    .contain-item a.mobile{
        display: flex;
    }
    .contain-item a:last-child{
        position: static;
    }
    .contain-item.active a.active{
        align-items: flex-start;
        display: flex;
        background-color: white;
        color: black;
        opacity: 1;
    }
}